@import "tailwindcss";

@layer utilities {
  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-floating {
    animation: floating 4s ease-in-out infinite;
  }
}